.page.theme_light {
  --accent-color:  #FF8DCB;
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --main-header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover-border: #32312d66;
  --section-header-color: #353430;
  --article-header-color: #353430;
  --article-bg-color: #FF8DCB;
  --link-accent-color: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color:  #FF8DCB;
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --main-header-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-border: #32312d66;
    --section-header-color: #353430;
    --article-header-color: #353430;
    --article-bg-color: #FF8DCB;
    --link-accent-color: #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --visible: hidden;
  }
}

@media (min-width: 1024px) {
  .header__title, .footer__title {
    --accent-color:  #ff0070;
  }
}